body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* This centers the container horizontally */
    text-align: center; /* This centers text and inline elements */
}

.container img {
    display: block; /* Ensures the image is centered properly */
    margin: 0 auto; /* Centers the image horizontally */
}

.container form {
    margin-top: 20px; /* Adjust the spacing between the image and form as needed */
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    width: 100px;
    padding: 8px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
}
